{{ define "curtidas" }}

<button class="btn btn-primary fw-medium curtir-publicacao">
  <i class="fa-regular fa-heart"></i>
  <span>{{ .Curtidas }} </span>
</button>
{{ end }}


{{ define "editar" }}
<button class="btn btn-success">
<a href="/publicacoes/{{ .ID }}/atualizar" style="color: #ffffff;"><i class="fa-solid fa-pen-to-square"></i></a>
</button>
{{ end }}

{{ define "deletar" }}
<button class="btn btn-danger">
<i class="fa-solid fa-trash deletar-publicacao" style="cursor: pointer;"></i>
</button>
{{ end }}


{{ define "cabecalho-publicacao" }}
<h1 class="display-4">{{ .Titulo }}</h1>
<p class="lead">{{ .Conteudo }}</p>
<a href="/usuarios/{{ .AutorID }}">{{ .AutorNick }}</a>
<hr class="my-4">
{{ end }}


{{ define "publicacao-com-permissao" }}
<div class="jumbotron" data-publicacao-id="{{ .ID }}">
  {{ template "cabecalho-publicacao" . }}
  <p>
    {{ template "curtidas" . }}
    {{ template "editar" . }}
    {{ template "deletar" . }}
  </p>
</div>
{{ end }}


{{ define "publicacao-sem-permissao" }}
<div class="jumbotron" data-publicacao-id="{{ .ID }}">
  {{ template "cabecalho-publicacao" . }}
  <p>
    {{ template "curtidas" . }}
  </p>
</div>
{{ end }}
