<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JEDI - Atualizar Publicação - {{ .Titulo }}</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/backgroud.css" rel="stylesheet">
</head>

<body>
    {{ template "cabecalho" }}

    <div class="container">
        <div class="row mt-4">
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                <h3 class="fw-semibold" style="color: #FFC312;">Atualizar Senha</h3>
                <form id="atualizar-senha">
                    <div class="form-group">
                        <label for="senha-atual" style="color: #FFC312;">Senha atual</label>
                        <input type="password" class="form-control" id="senha-atual" name="senha-atual" placeholder="Insira sua senha atual" required="required">
                    </div>
                    <div class="form-group">
                        <label for="nova-senha" style="color: #FFC312;">Nova senha </label>
                        <input type="password" class="form-control" id="nova-senha" name="nova-senha" placeholder="Insira sua nova senha" required="required">
                    </div>
                    <div class="form-group">
                        <label for="nova-senha" style="color: #FFC312;">Confirmar senha </label>
                        <input type="password" class="form-control" id="confirmar-senha" name="confirmar-senha" placeholder="Confirme a nova senha" required="required">
                    </div>
                    <br />
                    <button type="submit" class="btn btn-info">Atualizar Senha</button>
                </form>
            </div>
        </div>
    </div>

    {{ template "footer" }}
    {{ template "scripts" }}

    <script src="/assets/js/usuario.js"></script>
</body>

</html>